@page "/Login"
@namespace LoginComponent
@using BlazorAppForum.Authentication;

@inject IAuthService authService
@inject NavigationManager navMgr

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<AuthorizeView>
    <NotAuthorized>


        <main class="login-form">
            <div class="cotainer">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Login</div>
                            <div class="card-body">
                                <div class="form-group row">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Username</label>
                                        <div class="col-md-6">
                                            <input type="text" id="email_address" @bind="userName" class="form-control" name="email-address" required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="password" @bind="password" class="form-control" name="password" required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6 offset-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="remember"> Remember Me
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button class="btn btn-primary" @onclick="LoginAsync">
                                            Login
                                        </button>
                                        <a href="/Register" class="btn btn-link">
                                            You really want to see our secrets?
                                        </a>
                                    </div>
                                    <div class="col-md-6 offset-md-4">

                                        @if (!string.IsNullOrEmpty(errorLabel))
                                        {
                                            <span class="help-block" style="color: red">@errorLabel</span>
                                        }
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


    </NotAuthorized>
    <Authorized>
    </Authorized>
</AuthorizeView>



@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            if (userName == null || password == null)
            {
                throw new Exception("All the fields are required!");
            }
            else
            {
                await authService.LoginAsync(userName, password);
                navMgr.NavigateTo("");
                errorLabel = "Saved!";
            }
        }
        catch (Exception e)
        {
            errorLabel = $"Error: {e.Message}";
        }
    }

}